picard.jar
GenomeAnalysisTK.jar
results
Ref/*.1.bt2
Ref/*.2.bt2
Ref/*.3.bt2
Ref/*.4.bt2
Ref/*.amb
Ref/*.ann
Ref/*.bwt
Ref/*.dict
Ref/*.fai
Ref/*.pac
Ref/*.rev.1.bt2
Ref/*.rev.2.bt2
Ref/*.sa
Ref/chrM.1000g.indel.vcf
Ref/chrM.dbsnp138.vcf
Ref/chrM.mills.vcf
Ref/chrM.1000g.indel.vcf.idx
Ref/chrM.dbsnp138.vcf.idx
Ref/chrM.mills.vcf.idx
config.mk
